<footer class="footer p-4">
  <div class="container-fluid no-gutters">
    <div class="row">
      <div class="col">
        <h5 class="text-primary">Obligatorio 2 - Diseño de Aplicaciones 2</h5>
      </div>
    </div>
    <hr class="m-2">
    <div class="row align-items-center justify-content-md-between">
      <div class="col">
          <a>Agustín Introini (211064) / Juan Balian (211150)</a>.
      </div>
      <div class="col">
        <ul class="nav nav-footer justify-content-end">
          <li class="nav-item">
            <a [routerLink]="['/admin']" class="nav-link">Administradores</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
